<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong rounded">
          <div class="card-body p-5 text-center rounded" style="background-color:#f6f6f6">
            <h3 class="mb-5 css-header-login">Forgot your password?</h3>
            <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
              <%= render "devise/shared/error_messages", resource: resource %>
              <div class="mb-4">
                <%= f.label :email, class: "lable-custom float-start" %><br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Email" %>
              </div>
              <div class="actions">
                <%= f.submit "Send me reset password", class:"btn btn-primary" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
